.timelinePageStyle {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/bangumi_background.jpeg');
    background-attachment: fixed;
    background-size: 100%;
}

.timelineBangumi{
    margin: 0 auto;
    width: 75%;
    min-height: 700px;
    background-size: 100%;
    background: rgba(255, 255, 255, 0.6);
    margin-top: 1%;
}
