.titleStyle {
    color: black;
    font-size: 10.5pt;
    margin-top: 5px;
}

.titleStyle:hover {
    cursor: pointer;
    color: rgba(50, 154, 255, 1);
}

.scoreStyle {
    position: absolute;
    right: 100px;
    margin-top: 5px;
}

.userNumberStyle {
    position: absolute;
    right: 45px;
    margin-top: 5px;
}
