.subnaviStyle {
    position: absolute;
    width: 50%;
    height: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.4);
}

.titleStyle:hover {
    cursor: pointer;
    color: rgba(255, 120, 195, 1);
}
