.contentStyle {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-image: url("../../assets/home_background.webp");
    background-attachment: fixed;
    background-size: 120%;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .contentStyle {
        background-attachment: scroll;
        background-image: url("../../assets/home_background_mobile.webp");
        background-size: cover;
    }
}

.bangumiStyle {
    width: 65%;
    margin: 1% 1% 0% 2%;
}

.leftSectionStyle {
    width: 30%;
    margin: 1% 2% 0% 1%;
}

::-webkit-scrollbar {
    display: none;
}
