.rankPageStyle {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/bangumi_background.jpeg');
    background-attachment: fixed;
    background-size: 100%;
} 

.bangumiRankStyle {
    padding-top: 20px;
    min-height: 700px;
    border-radius: 6px;
    margin: 1% 1% 0% 1%;
    background: rgba(255, 255, 255, 0.55);
}
